.logo-small,
.logo-large {
  text-transform: uppercase;
  letter-spacing: -2px;
  color: #333333;
  display: block;
  text-shadow: 0 -2px 1px rgba(15, 15, 15, 0.5);
  background-color: white;
}
.logo-small {
  transform: scale(4) translateY(-3px);
  font-size: 16px;
}
.logo-large {
  font-size: 30px;
  font-weight: bold;
  text-shadow: 0 5px 3px rgba(15, 15, 15, 0.5);
  text-align: left;
}
.container {
  padding: "0 20px";
}
